/* Media query allows for changes to the css, if the screen size is below a pixel value (Mobile) */
@media only screen and (max-width: 1024px) {
    .nes-container
    {
        margin: auto;
    }
  }

/* Changing padding and alignment of text in containers */
body {
    padding-bottom: 10px;
  }
  .nes-progress {
    height: 25px;
  }
  .canvas-container {
 width: 100%;
 text-align:center;
 
}
/* Changing alignment of text in containers */
.more-projects {
    text-align:center;
   }

  .canvas {
    display: inline;
  }
  .img-container {
      text-align: center;
    }

/* Removes canvas container (Pokemon game) if media below pixel size */
@media screen and (max-width: 1024px) {
    .canvas-container {
        display: none !important;
    }
}

/* Changing title value margins, to better fit in design */
.nes-container.non-mobile > .title {
    display: table;
    padding: 0 0.5rem;
    margin: -1.8rem 0 1rem;
    font-size: 1rem;
    background-color: #fff;
  }
/* Removes container (Pokemon game) if media below pixel size */
@media screen and (max-width: 1024px) {
.nes-container.non-mobile {
    display: none !important;
}
}


